.employee-list-main {
  padding: 24px;

  .head {
    display: flex;
    align-items: center;
    gap: 8px;

    span.sort {
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23525480' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat center/8px 10px;
      width: 14px;
      height: 14px;
    }
  }

  .content-filter {
    position: sticky;
    top: 0;
    z-index: 2;

    label.title-line {
      font-size: 14px;
      margin-bottom: 12px;
    }

    label.title-line:after {
      content: '';
      border-bottom: 1px solid #064c90;
    }

    .group-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 12px;

      input.app {
        background-image: url("https://cdna.iconscout.com/img/black-search.3712edd.svg");
        background-repeat: no-repeat;
        background-position: center right calc(0.375em + 0.3rem);
        background-size: calc(0.4875rem + 0.6rem) calc(0.4875rem + 0.6rem);
      }

      button.app {
        margin-top: 0;
        max-width: 100px;
      }
    }
  }

  .content-table {
    margin: 32px 0;
    overflow: hidden;
    padding: 0;

    .table-container {
      width: 100%;
      overflow: auto;


      table,
      table .neumorphic {
        width: 100%;
        min-width: 1000px;
        border-spacing: 0;
        color: #212121;
        text-align: center;
        overflow: hidden;
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
          -9px -9px 16px rgba(255, 255, 255, 0.6);

        thead {
          box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
        }

        th {
          padding: 12px;
        }

        tbody>tr>td {
          padding: 10px;
          font-size: 16px;
          position: relative;
        }

        tbody>tr:hover {
          padding: 20px;
          box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
            -9px -9px 16px rgba(255, 255, 255, 0.6);
        }

        tr td:first-child::before {
          content: "";
          position: absolute;
          padding: 7px;
          top: 0;
          left: -5000px;
          width: 10000px;
          height: 100%;
          z-index: -10;
          box-shadow: none;
        }

        td:hover::after {
          content: "";
          position: absolute;
          box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
            -9px -9px 16px rgba(255, 255, 255, 0.6);
          left: 0;
          top: -5000px;
          height: 10000px;
          width: 100%;
          z-index: -1;
        }

        .table-action {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 12px;

          span {
            font-weight: 500;
            color: #064c90;
          }

          span:hover {
            text-decoration: underline;
            cursor: pointer;
            color: #e2a100;
          }
        }
      }
    }
  }

  .content-footer {
    position: sticky;
    bottom: 0;
    z-index: 2;

    label.title-line {
      font-size: 14px;
      margin-bottom: 12px;
    }

    .group-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      input.app {
        width: 70px;
      }

      button.app {
        width: 100px;

      }

      select.app {
        max-width: 70px;
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23525480' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
      }

      .total-page {
        flex: auto;
        font-size: 14px;
        color: #333;
      }

    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}