<main class="employee-list-main">
  <section>
    <div style="display: grid; place-content: center">
      <h4 style="margin-bottom: 24px">
        © Yuddi Prasetyo - 2024. All rights reserved.
      </h4>
    </div>
  </section>

  <section class="content-filter">
    <div class="card">
      <label class="title-line">Search & Add Employee</label>
      <div class="group-row">
        <input
          class="app"
          placeholder="Search Employee..."
          [value]="searchText"
          (input)="onSearch($event)"
        />
        <button class="app" (click)="onNavToAdd()">ADD</button>
      </div>
    </div>
  </section>

  <section *ngIf="!isLoading" class="content-table card">
    <div class="table-container">
      <table class="neumorphic">
        <thead>
          <tr>
            <th>No.</th>
            <th>
              <div class="head">
                Username
                <span class="sort" (click)="onSortBy('username')"></span>
              </div>
            </th>
            <th>
              <div class="head">
                Full Name
                <span class="sort" (click)="onSortBy('firstName')"></span>
              </div>
            </th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Status</th>
            <th>Group</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (employee of dataEmployees; track employee; let index = $index) {
          <tr>
            <td>{{ (currentPage - 1) * limitPerPage + (index + 1) }}.</td>
            <td>
              <div class="link" (click)="onNavToDetail(employee)">
                {{ employee.username }}
              </div>
            </td>
            <td>{{ employee.firstName + " " + employee.lastName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.birthDate | date : "dd MMMM YYYY" }}</td>
            <td>{{ employee.status }}</td>
            <td>{{ employee.group }}</td>
            <td>
              <div class="table-action">
                <span (click)="onEdit(employee)">Edit</span>
                <span (click)="onDelete(employee)">Delete</span>
              </div>
            </td>
          </tr>
          } @empty { Empty List of employee }
        </tbody>
      </table>
      <div></div>
    </div>
  </section>

  <section *ngIf="!isLoading" class="content-footer card">
    <div class="group-row">
      <div class="total-page">
        <p>Total Page {{ totalPage }}</p>
      </div>
      <button class="app" (click)="onPrevious()" [disabled]="!isPrevPage">
        Previous
      </button>
      <input class="app" [(ngModel)]="currentPage" readonly />
      <button class="app" (click)="onNext()" [disabled]="!isNextPage">
        Next
      </button>
      <select
        class="app"
        [value]="limitPerPage"
        (change)="onPageLimitChange($event)"
        type="number"
      >
        @for (limit of limitPerPageOptions; track limit.value;) {
        <option
          *ngIf="limitPerPage === limit.value"
          [value]="limit.value"
          selected
        >
          {{ limit.label }}
        </option>
        <option *ngIf="limitPerPage !== limit.value" [value]="limit.value">
          {{ limit.label }}
        </option>
        }
      </select>
    </div>
  </section>
</main>

<div *ngIf="isLoading" class="loader"></div>
