<main class="employee-add-main">
  <div class="card col">
    <div class="title">
      <h3>Add Employee</h3>
    </div>
    <form [formGroup]="addEmployeeForm" class="col">
      <div class="with-label">
        <label>Username</label>
        <input
          class="app {{ checkRequired('username') ? 'is-invalid' : '' }}"
          placeholder="Username"
          formControlName="username"
        />
      </div>

      <div class="with-label">
        <label>First Name</label>
        <input
          class="app {{ checkRequired('firstName') ? 'is-invalid' : '' }}"
          placeholder="First Name"
          formControlName="firstName"
        />
      </div>

      <div class="with-label">
        <label>Last Name</label>
        <input
          class="app {{ checkRequired('lastName') ? 'is-invalid' : '' }}"
          placeholder="Last Name"
          formControlName="lastName"
        />
      </div>

      <div class="with-label">
        <label>Email</label>
        <input
          class="app {{ checkRequired('email') ? 'is-invalid' : '' }}"
          placeholder="Email"
          formControlName="email"
        />
      </div>

      <div class="with-label">
        <label>Basic Salary</label>
        <input
          class="app {{ checkRequired('basicSalary') ? 'is-invalid' : '' }}"
          [appCurrencyMask]="'Rp. '"
          type="tel"
          placeholder="Basic Salary"
          formControlName="basicSalary"
          required
        />
      </div>

      <div class="with-label">
        <label>Birth Date</label>
        <div
          class="app-group {{ checkRequired('birthDate') ? 'is-invalid' : '' }}"
        >
          <input
            [matDatepicker]="picker"
            [max]="maxDate"
            placeholder="Birth Date"
            formControlName="birthDate"
            readonly
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="with-label">
        <label>Status</label>
        <input
          class="app {{ checkRequired('status') ? 'is-invalid' : '' }}"
          placeholder="Status"
          formControlName="status"
        />
      </div>

      <div class="with-label">
        <label>Group</label>
        <select
          class="app {{ checkRequired('group') ? 'is-invalid' : '' }}"
          type="number"
          [value]="groupSelected"
          required
          formControlName="group"
        >
          <option *ngIf="!groupSelected" value="" selected disabled>
            Choose Group
          </option>
          @for (group of groupOptions; track group.value;) {
          <option [value]="group.value">
            {{ group.label }}
          </option>
          }
        </select>
      </div>

      <div class="with-label">
        <label>Description</label>
        <textarea
          class="app {{ checkRequired('description') ? 'is-invalid' : '' }}"
          rows="4"
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </div>
    </form>
    <div class="action">
      <button class="app cancel" (click)="onCancel()">Cancel</button>
      <button class="app save" (click)="onSave()">Save</button>
    </div>
  </div>
</main>
