.employee-add-main {
    padding: 24px;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .col {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .card {
        box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;

        select.app {
            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23525480' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
            color: #333;
        }

        select:invalid {
            color: #757575;
        }
    }

    .title {
        margin: 0 auto 8px;
    }

    .app-group {
        background: transparent;
        border: none;
        outline: none;
        appearance: none;
        font-size: 16px;
        height: 42px;
        border-radius: 24px;
        padding: 4px 0 4px 18px;
        width: 100%;
        box-shadow: var(--boxShadowInset);
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            flex: auto;
            height: 100%;
            background: transparent;
            outline: none;
            border: none;
            font-size: 16px;
        }
    }

    .with-label {
        display: flex;
        flex-direction: column;

        label {
            font-size: 0px;
            color: #333;
            padding-left: 18px;
            transition: 0.2s;
        }

        textarea {
            height: auto;
            resize: none;
            padding: 12px 18px;
        }

    }

    .with-label:has(input:not(:placeholder-shown))>label,
    .with-label:has(select:not(:invalid))>label,
    .with-label:has(textarea:not(:placeholder-shown))>label {
        font-size: 14px;
        transition: 0.2s;
    }


    .mat-datepicker-toggle>button,
    .mat-mdc-icon-button.mat-mdc-button-base {
        padding: 0 !important;
    }

    .action {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-top: 8px;

        button.app {
            width: 100px;
        }

        button.app.cancel {
            background-color: transparent;
            color: #e2a100;
            width: 100px;
        }
    }

    .is-invalid {
        background-color: #ffbfbf !important;
    }
}