.employee-detail-main {
  padding: 24px;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  .card {
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

    .avatar-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .avatar {
        position: relative;
        box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        padding: 1rem;

        img {
          box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
          border-radius: 50%;
          width: 100%;
        }
      }

      p {
        font-size: 18px;
        font-weight: 700;
        color: #333;
      }
    }

    .identity-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 16px;
      border: 1px dashed #888;
      border-radius: 12px;
      margin-top: 24px;
      flex: auto;

      .username {
        text-decoration: underline;
      }
    }

    .summary-group {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 24px;
      flex: auto;

      p>span:first-child {
        font-size: 14px;
      }
    }

    button.app {
      width: 200px;
      margin: 24px auto 0;
    }
  }
}