<main class="employee-detail-main">
  <div class="card col">
    <section class="avatar-group">
      <div class="avatar">
        <img alt="avatar" src="https://i.pravatar.cc/300" />
      </div>
      <p>{{ detailData?.firstName }} {{ detailData?.lastName }}</p>
    </section>

    <div class="row">
      <section class="identity-group">
        <div class="username">{{ detailData?.username }}</div>
        <div>{{ detailData?.birthDate | date : "dd MMMM YYYY" }}</div>
        <div>{{ detailData?.email }}</div>
      </section>

      <section class="summary-group">
        <p>
          <span>Status</span> <span>: {{ detailData?.status }}</span>
        </p>
        <p>
          <span>Group</span> <span>: {{ detailData?.group }}</span>
        </p>
        <p>
          <span>Basic Salary</span>
          <span
            >:
            {{
              detailData?.basicSalary
                | currency : "Rp. " : "symbol" : "3.2" : "id-ID"
            }}</span
          >
        </p>
        <p>
          <span>Description</span> <span>: {{ detailData?.description }}</span>
        </p>
      </section>
    </div>

    <button class="app" (click)="onOK()">OK</button>
  </div>
</main>
