<main class="login-main">
  <div class="card">
    <div class="content">
      <span class="title">SIGN IN</span>
      <input
        class="app"
        placeholder="username"
        type="text"
        [(ngModel)]="username"
      />
      <input
        class="app"
        placeholder="password"
        type="password"
        [(ngModel)]="password"
      />
      <button class="app" (click)="onSignIn()">SUBMIT</button>

      <div>
        <p>
          <span class="link">Forgot Password</span> or
          <span class="link">Register</span>
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>© Yuddi Prasetyo - 2024. All rights reserved.</p>
  </div>
</main>
