.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  .card {
    max-width: 380px;
    max-height: 380px;
    width: 90%;
    height: 90dvw;
    background: transparent;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--boxShadowInsetSecondary);
  }

  @media (max-width: 360px) {

    .card {
      width: 90%;
      height: auto;
    }
  }

  .card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }

  .card::before {
    content: '';
    position: absolute;
    width: 180px;
    background-image: linear-gradient(180deg, #064c90, #feb602);
    height: 150%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }

  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .card::after {
    content: '';
    position: absolute;
    background: #e0e5ec;
    inset: 5px;
    border-radius: 15px;
  }

  .content {
    padding: 24px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    gap: 12px;
    width: 100%;


    .title {
      font-size: 24px;
      font-weight: 700;
      color: #444;
      margin-bottom: 24px;
    }

    p {
      color: #444;
      font-size: 14px;
      margin-top: 8px;
    }

  }

  .copyright {
    position: absolute;
    bottom: 24px;
    font-size: 12px;
    color: #666;
  }

}