// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TryAngularApp-primary: mat.define-palette(mat.$indigo-palette);
$TryAngularApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TryAngularApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TryAngularApp-theme: mat.define-light-theme((color: (primary: $TryAngularApp-primary,
        accent: $TryAngularApp-accent,
        warn: $TryAngularApp-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TryAngularApp-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --boxShadowInset: inset -2px -2px 6px #dadada, inset 2px 2px 6px #444444cc;
  --boxShadow: -2px -2px 6px #dadada, 2px 2px 6px #444444cc;
  --boxShadowInsetSecondary: inset -2px -2px 6px #444444cc, inset 2px 2px 6px #dadada;

  // coloring
  --primaryBlue: #064c90;
  --primaryYellow: #feb602;

}

html,
body {
  height: 100%;
  background: #e0e5ec;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: 'FontAwesome', FontAwesome, Arial, Helvetica, sans-serif;
  ;
}

input.app,
select.app,
textarea {
  background: transparent;
  border: none;
  outline: none;
  appearance: none;
  font-size: 16px;
  height: 42px;
  border-radius: 24px;
  padding: 4px 18px;
  width: 100%;
  box-shadow: var(--boxShadowInset);
}

button.app {
  border: none;
  box-shadow: var(--boxShadowInsetSecondary);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  height: 42px;
  border-radius: 24px;
  padding: 4px 12px;
  background-color: #064c90;
  color: #f0f0f0;
}

button.app:focus {
  box-shadow: var(--boxShadowInset);
  font-size: 15.5px;
}

button.app:hover {
  opacity: 0.9;
  cursor: pointer;
}

button.app:disabled {
  opacity: 0.7;
  cursor: no-drop;
  color: #aaaaaa;
}

.link {
  font-weight: 500;
  color: #064c90;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #e2a100;
}

.card {
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #e6e7ee;
  background-clip: border-box;
  border: 0.0625rem solid rgba(243, 247, 250, .05);
  border-radius: 0.55rem;
  padding: 24px;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: var(--primaryBlue);
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}